.header {
  padding: 1rem;
  background-color: var(--dark);
}

.header ul {
  display: flex;
  justify-content: space-around;
}

.header ul li {
  padding: 0 1.5rem;
}

.header li a {
  font-size: 3rem;
  color: var(--light);
}
